<aside class="bg-base-200 p-4 hidden md:block">
    <h2 class="text-xl font-bold mb-4">Admin</h2>
    <ul class="menu">
        {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('admin_index') }}">Admin dashboard ({{ app.user.username }})</a></li>
            <li><a href="{{ path('admin_festival_index') }}">Festivals</a></li>
            <li><a href="{{ path('admin_band_index') }}">Bands</a></li>
            <li><a href="{{ path('booking_index') }}">Bookings</a></li>
        {% endif %}
        {% if not app.user %}
            <li><a href="{{ path('app_login') }}">Log In</a></li>
            <li><a href="{{ path('app_home_index') }}">Home</a></li>
        {% endif %}
        {% if app.user %}
            <li><a href="{{ path('app_logout') }}">Logout</a></li>
        {% endif %}
    </ul>
</aside>
