{% extends 'layouts/admin-base.html.twig' %}

{% block title %}Band{% endblock %}

{% block content %}

    <div class="relative w-full h-64 overflow-hidden rounded-sm shadow-lg mb-5">
        <img
            src="{{ asset(band.image ? 'images/'~band.image.filename : 'images/default.jpg') }}"
            alt="Band Cover"
            class="object-cover w-full h-full"
        />
        <div
            class="absolute bottom-2 left-4 right-4 bg-black/20 text-white px-4 py-2 text-xl rounded-sm font-bold flex justify-between items-center">
            <span>
                {{ band.id }} -
                {{ band.name }}
            </span>
            <span class="badge badge-soft badge-info">
                {{ band.genre.value }}
            </span>
        </div>
    </div>
    <div class="w-[100px]">
        {{ include('band/_delete_form.html.twig') }}
    </div>
{% endblock %}
