{% extends 'layouts/admin-base.html.twig' %}

{% block title %}Add Time Slot to {{ festival.name }}{% endblock %}
{% block content %}
    <h1>Add Time Slot to {{ festival.name }}</h1>

    <fieldset class="fieldset p-4">
        <legend class="fieldset-legend">New Time Slot for {{ festival.name }}</legend>
        {{ form_start(form, { attr: { class: 'space-y-4 w-full max-w-md' } }) }}
        {{ form_row(form.band) }}
        {{ form_row(form.startTime) }}
        {{ form_row(form.endTime) }}
        <button class="btn btn-primary" type="submit">Add Slot</button>
        {{ form_errors(form) }}
        {{ form_end(form) }}
    </fieldset>
{% endblock %}
